# Ignore environments
**/.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff
*.log
local_settings.py
db.sqlite3

# Ignore VSCode settings
**/.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
**/.pyc
**/.log

# Thesis stuff
**/benchmark
**/results
data/
/experiments/
images/
*.pkl
*.log

# part 1
spatial-extremes/data/
spatial-extremes/experiments/
spatial-extremes/test/

# part 2
hydro-2dxy/data/
hydro-2dxy/experiments/
hydro-2dxy/test/

# part 3
risk-assessment/data/
risk-assessment/images/
