# Ignore environments
**/.venv/
**/.venv_evtGAN/

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff
*.log
local_settings.py
db.sqlite3

# Ignore VSCode settings
**/.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
**/.pyc
**/.log

# Thesis stuff
**/benchmark
**/results
/experiments/
*.pkl


hydro-2dxy/data/
hydro-2dxy/notebooks/


risk-assessment/data/
risk-assessment/images/
